@font-face {
    font-family: "PT Sans Narrow";
    src: local("PT Sans Narrow"), url("../fonts/ptsansnarrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: local("PT Sans Narrow"), url("../fonts/ptsansnarrowbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 1000px;
    font-family: "PT Sans Narrow", "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #242424;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.header {
    background-color: #000000;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
    padding: 0px 10px;
    outline: 1px dotted red;
}


/* HEADER BEGIN */

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
}

.header .nav {
    flex-grow: 1;
}

.header .btn {
    margin: 26px 20px;
    line-height: 20px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sign-in {
    position: relative;
    padding-left: 12px;
    /* нужно 32px от края надписи войти из них 20px margin у .btn */
}

.sign-in .icon {
    position: absolute;
    top: 26px;
    left: 0;
    width: 18px;
    height: 16px;
    background: url("../images/icon-login.png") no-repeat 0 0;
}


/* HEADER END */

h1 {
    margin: 60px auto 24px auto;
    width: 368px;
    outline: 1px dotted cyan;
}


/* ADVANTAGES BEGIN */

.advantages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.advantage {
    flex-basis: 280px;
    outline: 1px dotted yellow;
}

.advantage h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    outline: 1px dotted green;
}

.advantage h2::after {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    margin: 10px auto 25px auto;
    background: url("../images/shape.svg") no-repeat 0 0;
}

.advantage p {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}


/* ADVANTAGES END */


/* NEWS AND PHOTO BEGIN */

.news-and-photo {
    display: flex;
    background-color: white;
}

.news-and-photo section {
    position: relative;
    width: 50%;
    height: 420px;
    outline: 1px dotted gray;
    background: url("../images/bg-news-and-photo.png");
}

.news-and-photo .news::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 278px;
    background: url("../images/news-shadow.png") no-repeat 0 0;
    top: 71px;
    right: -3px;
    z-index: 1;
}