@font-face {
    font-family: "PT Sans Narrow";
    src: local("PT Sans Narrow"), url("../fonts/ptsansnarrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: local("PT Sans Narrow"), url("../fonts/ptsansnarrowbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", "PT Sans", "Arial", sans-serif;
    font-weight: bold;
}

body {
    font-size: 14px;
    line-height: 24px;
    background-color: black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    color: black;
    text-shadow: 0 0 1px #a7a5a3;
}
