.form {}

.form__container {
    width: 300px;
    height: 169px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.form__input {
    box-sizing: border-box;
    width: 140px;
    height: 44px;
    border: 2px solid black;
    font-size: 14px;
    line-height: 40px;
    padding-left: 15px;
}

.form__input:focus {
    border-color: #663d15;
    outline: none;
}

.form__input::-webkit-input-placeholder {
    color: black;
}

.form__input::-moz-placeholder {
    opacity: 1;
}

.form__input:-ms-input-placeholder {
    color: black;
}
