.body {
    font-size: 14px;
    line-height: 24px;
    background-color: black;
    color: black;
    /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.5)*/
}

.body_bg {
    background: black url("body_bg.jpg") no-repeat 50% 0;
}
