    .advantage {
        padding-bottom: 40px;
        color: #f7f4f1;
    }
    
    .advantage__container {
        display: flex;
        justify-content: space-between;
    }
    
    .advantage__item {
        flex-basis: 300px;
        text-align: center;
    }
    
    .advantage__header::after {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        margin: 8px auto 25px auto;
        background: url("advantage__header.svg") no-repeat 0 0;
        filter: drop-shadow(0 0 1px #a7a5a3);
    }
    
    .advantage__label {
        padding: 0 10px;
    }
