.flexblock {
    display: flex;
}

.flexblock_size_m {
    padding-top: 37px;
    padding-bottom: 20px;
    min-height: 420px;
}

.flexblock_size_s {
    padding-top: 15px;
    padding-bottom: 65px;
    min-height: 396px;
}

.flexblock_size_xs {
    width: 460px;
}

.flexblock_align-center {
    align-items: center;
}

.flexblock_wrap {
    flex-wrap: wrap;
}

.flexblock_space_between {
    justify-content: space-between;
}
