.header {
    background-color: black;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: middle;
}

header__item {}

.header__item_left {
    list-style: none;
    display: flex;
    flex-grow: 1;
}

.header__item_right {
    position: relative;
}

.header__button {
    line-height: 72px;
    font-size: 16px;
}

.header__button:not(.is-active):hover,
.header__button:not(.is-active):active {
    background-color: #242424;
}

.header__button_simple {
    padding: 0px 20px;
}

.header__button.is-active>.header__button-text {
    padding: 22px 0px;
    border-bottom: 4px solid white;
}

.header__button_composite {
    padding: 0 20px 0 53px;
}

.header__button_composite::before {
    content: "";
    display: block;
    position: absolute;
    top: 27px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url("header__button-signin.png") no-repeat 0 0;
}

.header__button_composite:hover::before {
    width: 30px;
    height: 26px;
    top: 22px;
    left: 12px;
    background: url("header__button-signin-hovered.png") no-repeat 0 0;
}

.header__logo {
    vertical-align: middle;
}
