.footer {
    background: #232323 url("footer.png");
    padding: 58px 0 46px;
    color: white;
}

.footer_shaded {
    box-shadow: inset 0px 45px 40px -34px rgba(0, 0, 0, 1);
}

.footer__container {
    position: relative;
}

.footer__item {
    position: absolute;
    top: 0;
}

.footer__item_left {
    left: 0;
}

.footer__item_right {
    right: 0;
}

.footer__p {
    text-align: center;
    margin-bottom: 14px;
}

.footer__socials {
    margin: 0 auto;
}

.footer__button:hover {
    background-color: white;
    color: black;
}
