.section {
    background: #f7f4f1 url("section-bg.png");
    box-sizing: border-box;
}

.section_half {
    width: 50%;
    box-sizing: border-box;
}

.section_type_right {
    padding: 45px 80px 50px 90px;
}

.section_type_left {
    position: relative;
    padding: 45px 40px 50px 80px;
}

.section_shaded::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 278px;
    background: url("section-shaded.png") no-repeat 0 0;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
}

.section_wide {
    padding: 52px 130px;
}

.section__item {
    margin-bottom: 28px;
}

.section__article {
    margin: 21px 0;
}

.section__article_large {
    margin-top: 28px;
    margin-bottom: 36px;
}

.section__paragraph {}

.section__date {
    text-transform: lowercase;
}

.section__container {
    box-sizing: border-box;
    height: 224px;
    padding-top: 9px;
}

.section__image {
    display: block;
}

.section__image_size_l {
    width: 460px;
    height: 498px;
}

.section__image_size_s {
    width: 140px;
    height: 149px;
}

.section__image_theme_light {
    border: 7px solid white;
}

.section__image_shaded {
    margin: 12px 0;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.section__title_small {}

.section__line {
    content: "";
    display: block;
    height: 2px;
    background-color: black;
    flex-grow: 1;
}

.section__info {
    padding: 32px 0 16px 80px;
}

.section__label {
    text-align: center;
    line-height: 44px;
    background-color: #e5e5e5;
    width: 110px;
}
