.news {
    padding: 45px 40px 50px 80px;
}

.news__h {
    margin-bottom: 10px;
}

.news__article {
    margin: 21px 0;
}

.news__date {
    text-transform: lowercase;
}

.news__p {
    max-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news__container {
    height: 280px;
}