.button {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.button_size-m {
    width: 140px;
    line-height: 44px;
    text-align: center;
}

.button_theme-dark {
    background-color: black;
}