.button {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: none;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 0 1px #a7a5a3;
    background-color: black;
}

.button_size-m {
    width: 140px;
    line-height: 44px;
}

.button_size-l {
    width: 300px;
    line-height: 44px;
}

.button:hover {
    background-color: #663d15;
}
