    .infoblock {}
    
    .infoblock_half {
        width: 50%;
        outline: 1px solid red;
    }
    
    .infoblock_right {
        padding-left: 10px;
        box-sizing: border-box;
    }
    
    .infoblock_theme-gray {
        background-image: linear-gradient(to top, #969696, #7f7f7f, #969696);
        box-shadow: inset -7px -7px 7px -3px rgba(0, 0, 0, 0.5), inset 7px 7px 7px -3px rgba(255, 255, 255, 0.5), inset 0 0 7px 1px rgba(255, 255, 255, 0.35);
    }
    
    .infoblock__container {
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 40px;
        color: #f7f4f1;
    }
    
    .infoblock__item {
        flex-basis: 300px;
        text-align: center;
    }
    
    .infoblock__header {}
    
    .infoblock__header::after {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        margin: 8px auto 23px auto;
        background: url("infoblock__header.svg") no-repeat 0 0;
        filter: drop-shadow(0 0 1px #a7a5a3);
    }
    
    .infoblock__label {
        padding: 0 10px;
    }
